.show-right-mid-body {
  display: flex;
  padding-left: 20px;
  margin-top: 10px;
  height: 260px;
  max-height: 260px;
  overflow: auto;
  margin-bottom: 5px;
}

.show-right-bottom {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.show-right-mid-body {

}

.show-right-mid-ul {
}

.comment-body {
  font-size: 14px;
  padding-bottom: 5px;
  padding-right: 15px;
}

.comment-username {
  font-weight: 600;
}

.parent-comment {
  display: flex;
}

.child-comment {
  display: flex;
  padding-left: 10px;
  border-left: 1px solid #EFEFEF
}

.hidden {
  display: none;
}

.notHidden {
  display: block;
}

.comment-form {
  padding-left: 10px;
  width: 360px;
  margin-top: 5px;
  font-size: 14px;
}