input[type="submit"]:disabled {
  background: #C6E0FA;
}

body {
  background: #fafafa;
  z-index: 100;
}

header {
  background: white;
}

.login-header {
  font-size: 45px;
  padding-left: 50px;
  padding-bottom: 25px;
  margin-top: -15px;
  color: #262626;
  font-family: 'Lobster', cursive;
}

.demo-login-button {
  position: absolute;
  padding: 9px 90px;
  padding-right: 88px;
  color: white;
  background: #3897f0;
  font-weight: 700;
  border-radius: 5px;
}

.login-input {
  position: relative;
  border: 1px solid #EFEFEF;
  margin: 5px;
  margin-left: 0px;
  padding: 10px;
  padding-right: 52px;
  background: #fafafa;
  border-radius: 2px;
  width: 200px;
  color: black;
  font-size: 12px;
}

.login-form-box {
  margin: 0px 0px 20px 0px;
  display: flex;
}

.login-username-label, .login-password-label{
  font-size: 12px;
  color: gray;
  position: absolute;
  left: 10%;
  top: 33.2%;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: .77;
  z-index: 11;
}

.login-password-label {
  top: 44.2%;
}

.login-input:focus + .login-username-label,
.login-input:valid + .login-username-label,
.login-input:focus + .login-password-label,
.login-input:valid + .login-password-label{
  font-size: 65%;
  transform: translate3d(0, -45%, 0);
  opacity: 1;
}


.session-submit {
  position: relative;
  padding: 9px 110px;
  // margin-bottom: 16px;
  margin-top: 20px;
  color: white;
  background: #3897f0;
  font-weight: 700;
  border-radius: 5px;
}

.background {
  position: absolute;
  background: #fafafa;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.login-page-container {
  position: absolute;
  background: #fff;
  top: 73px;
  left: 50%;
  margin-left: -173px;
  margin-top: 20px;
  width: 269px;
  height: 322px;
  padding: 40px;
  padding-left: -10px;
  z-index: 2;
  border: 1px solid #e6e6e6;
}

.or-div {
  margin-top: 16px;
  font-size: 14px;
  color: lightgray;
  padding-bottom: 20px;
}

.switch-to-signup-container {
  position: absolute;
  background: #fff;
  font-size: 15px;
  color: #c0c0bd;
  top: 73px;
  left: 50.25%;
  margin-left: -177px;
  margin-top: 438px;
  width: 259px;
  height: 40px;
  padding: 20px;

  padding-bottom: 0px;
  padding-left: 70px;
  z-index: 11;
  border: 1px solid #e6e6e6;
}

.switch-to-signup-text {
  padding-top: 2px;
}

.signup-link {
  color: #3897f0;
}

.session-error {
  position: absolute;
  bottom: 108px;
  font-size: 12px;
  color: red;
}