.class-body {
  align-items: stretch;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 935px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 133px;
  position: relative;
}

.profile-body {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  min-height: 150;
  margin-bottom: 44px;
  position: relative;
}

.profile-left {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 30px;
  position: relative;
}

.profile-left-image {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 150px;
}

.profile-right {
  align-items: stretch;
  box-sizing: border-box;
  display: flex;
  flex-basis: 30px;
  flex-direction: column;
  flex-grow: 3;
  flex-shrink: 1;
  height: 150;
  line-height: 18px;
  position: relative;
}

.profile-right-top-username {
  display: block;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: -5px;
  margin-top: 15px;
  white-space: nowrap;
}

.profile-right-top-logout {
  align-items: flex-start;
  border: 1px solid #EFEFEF;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 15px;
  padding: 5px;
  padding-left: 9px;
  padding-right: 9px;
  position: relative;
}

.profile-right-mid {
  display: flex;
  flex-direction: row;
  line-height: 18px;
  margin-bottom: 20px;
  margin-block-end: 20px;
}

.profile-right-mid-posts {
}

.profile-right-mid-followers {
  margin-left: 25px;
}

.profile-right-mid-following {
  margin-left: 25px;
}

.profile-right-bot-name {
  align-items: stretch;
  bottom: 17px;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

.profile-right-bot-profile {
  position: relative;
  bottom: 12px;
}

.profile-right-top {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  margin-bottom: 20px;
  position: relative;
}