.splash-background {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}

.splash-body-div {
  background: #fafafa;
  height: 0;
  width: 0;
}

header {
  border-bottom: 1px solid #e6e6e6;
  height: 72px;
}

.header-box{
  display: flex;
  justify-content: space-between;
  margin-left: 21.26%;
  margin-right: 21.26%;
}

.header-camera-image,
.header-line-image,
.header-person-image,
.header-upload-image {
  width: 25px;
}

.header-upload-image-c {
  margin-bottom: 8px;
}

.header-vertical-line {
  font-size: 40px;
}

.header-left {
  display: flex;
  justify-content: flex-start;
}

.header-camera-image {
  display: inline-block;
  margin-top: 26px;
}

.header-logo-container {

}

.header-vertical-line {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -10px
}

.header-logo {
  display: inline-block;
  font-family: lobster;
  font-size: 26px;
  margin-top: 22px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  width: 80px
}

.header-upload-link {
  display: inline-block;
}

.header-person-link {
  display: inline-block;
}