.splash-background {
  padding: 0;
  margin: 0;
  height: 0;
  width: 0;
}

.splash-body-div {
  background: #fafafa;
  height: 0;
  width: 0;
}

header {
  border-bottom: 1px solid #e6e6e6;
  height: 77px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-box{
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 77px;
  justify-content: center;
  max-width: 1010px;
  padding: 20px;
  padding-bottom: 26px;
  padding-top: 26px;
  vertical-align: baseline;
  width: 100%;
}

.header-camera-image,
.header-line-image,
.header-person-image,
.header-upload-image {
  width: 25px;
}

.header-upload-image-c {

}

.header-vertical-line {
  font-size: 40px;
}

.header-camera-image {
  margin-top: 3px;
}

.header-logo-container {

}

.header-vertical-line {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  margin-right: 16px;
  position: relative;
}

.header-logo {
  font-family: lobster;
  font-size: 26px;
}

.header-right-container {
  align-content: stretch;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-grow: 1;
  position: relative;
  justify-content: flex-end;
  width: 50%;
}

.header-right {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
}

.header-left-container {
  align-content: stretch;
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  flex-grow: 0;
  justify-content: flex-start;
  position: relative;
  vertical-align: baseline;
  width: 50%;
}

.header-upload-link {
  // display: inline-block;
}

.header-person-link {
  // display: inline-block;
}