.posts-page{
  display: flex;
  width: 71%;
}

.post-image-li {
  border-top: 1px solid lightgray;
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-left: 30%;
  margin-right: 30%;
  width: 1000px
}

.post-image-link {
  width: 293px;
  height: 293px;
  background: black;
}

.image-th {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-th:hover {
  filter: opacity(.8)
}