.show-post-container {
  display: flex;
}

.show-left-post-container {
  display: flex;
  background: black;
  max-width: 600px;
  max-height: 600px;
  min-height: 450px;
  // width: 600px;
  // min-width: 480px;
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.show-image {
  object-fit: contain;
  min-width: 600px;
  max-width: 600px;
  max-height: 600px;
}

.show-right-post-container {
  background: white;
  width: 335px;
  max-width: 335;
  min-width: 335;
  max-height: 600px;
  display: flex;
  flex-direction: column;
}

.show-right-top {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #EFEFEF;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.show-right-top-profile-image-container {
  border-radius: 50%;
  width: 50px;
  margin-bottom: 20px;
  margin-right: 10px
}

.show-right-top-profile-image {
  border-radius: 50%;
  width: 50px;
}

.show-right-top-username {
  margin-top: 6px;
  font-size: 15px;
}

.previous-arrow {
  margin-top: 20%;
  height: 41px;
}

.next-arrow {
  margin-top: 20%;
  height: 41px;
}

.next-arrow:hover, .previous-arrow:hover{
  cursor: pointer;
 }

.previous-post-button, .next-post-button {
  width: 40px;
}
